<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.milkstore.mapper.UserMapper">

    <resultMap id="UserResultMap" type="com.milkstore.entity.User">
        <id property="userId" column="user_id"/>
        <result property="nickname" column="nickname"/>
        <result property="avatar" column="avatar"/>
        <result property="phone" column="phone"/>
        <result property="gender" column="gender"/>
        <result property="birthday" column="birthday"/>
        <result property="pandaCoins" column="panda_coins"/>
        <result property="lightningStars" column="lightning_stars"/>
        <result property="memberLevel" column="member_level"/>
        <result property="createTime" column="create_time"/>
        <result property="lastLoginTime" column="last_login_time"/>
    </resultMap>

    <!-- 根据用户ID查询用户信息 -->
    <select id="findById" resultMap="UserResultMap">
        SELECT 
            user_id, nickname, avatar, phone, gender, birthday, 
            panda_coins, lightning_stars, member_level, create_time, last_login_time
        FROM 
            users
        WHERE 
            user_id = #{userId}
    </select>
    
    <!-- 根据手机号查询用户信息 -->
    <select id="findByPhone" resultMap="UserResultMap">
        SELECT 
            user_id, nickname, avatar, phone, gender, birthday, 
            panda_coins, lightning_stars, member_level, create_time, last_login_time
        FROM 
            users
        WHERE 
            phone = #{phone}
    </select>
    
    <!-- 新增用户 -->
    <insert id="insert" parameterType="com.milkstore.entity.User">
        INSERT INTO users (
            user_id, nickname, avatar, phone, gender, 
            panda_coins, lightning_stars, member_level
        ) VALUES (
            #{userId}, #{nickname}, #{avatar}, #{phone}, #{gender}, 
            #{pandaCoins}, #{lightningStars}, #{memberLevel}
        )
    </insert>
    
    <!-- 更新用户信息 -->
    <update id="updateUser" parameterType="com.milkstore.entity.User">
        UPDATE users 
        SET 
            nickname = #{nickname},
            avatar = #{avatar},
            gender = #{gender},
            birthday = #{birthday}
        WHERE 
            user_id = #{userId}
    </update>
</mapper> 